<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" >
  <test name="Test">
    <classes>
      <!-- <class name="com.application.scripts.TC02"/>
      <class name="com.application.scripts.TC03"/>
      <class name="com.application.scripts.TC04"/>
      <class name="com.application.scripts.TC05"/> -->
      <class name="com.application.scripts.TC01"/>
      <class name="com.application.scripts.TC02"/>
      <class name="com.application.scripts.TC07"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
